<?xml version="1.0"?>

<launch>
    <include file="$(find cuda_apriltag_ros)/launch/usb_camera.launch" />

    <group ns="cuda_apriltag">
        <rosparam command="load" file="$(find cuda_apriltag_ros)/config/settings.yaml"
            ns="cuda_continuous_detector" />
        <node pkg="cuda_apriltag_ros" type="cuda_continuous_detector"
            name="cuda_continuous_detector"
            output="screen">
            <param name="image_topic" value="/usb_cam/image_raw" />
            <param name="camera_info" value="/usb_cam/camera_info" />
            <param name="pub_topic" value="tag_detections" />
            <param name="transport_hint" value="raw" />
        </node>
    </group>
</launch>